{% extends "base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript">
  var room;
  {% if user.is_authenticated %}
  var currentUser = {
    "id"                : {{ user.id }},
    "login"             : "{{ user.login }}",
    "rank"              : "{{ user.rank }}",
    "avatar_pic"        : "{{ user.avatar_pic }}",
    "whr_elo"           : "null",
    "available"         : {{ user.available|lower }},
    "user_type"         : "{{ user.user_type }}",
    "blocked_users"     : "[]",
    "blocked_by_users"  : "[]",
    "notice_sounds_flag": {{ user.notice_sounds_flag|lower }},
    "click_sounds_flag" : {{ user.click_sounds_flag|lower }}
  };
  {% else %}
  var currentUser = "guest";
  {% endif %}

  $(document).ready(function(){
    goshrine.init({user:currentUser});
    room = new goshrine.Room({"id":1,"name":"Welcome","owner_id":1,"created_at":"2010-11-06T04:17:02Z","updated_at":"2010-11-06T04:17:02Z"});

    // Join the room ahead of time, refresh the room, and when done connect
    // to goshrine.  Doing it this way allows us to get a room list even if
    // the websocket connection fails, and it avoids race conditions by not
    // handling any websocket room updates prior to having processed the
    // member list.
    room.join();
    room.refresh(function() { goshrine.connect(); });
  });
</script>

<script type="text/x-jqote-template" id="member_template">
<![CDATA[
  <: user = this.user; :>
  <: currentUser = this.currentUser; :>
  <: room = this.room; :>
  <: blocked = this.blocked; :>
  <: blocker = this.blocker; :>
  <li class="online_player" data-player-id="<:= user.id :>" id="room_member_<:= user.id :>">
    <a href="/players/<:= user.login :>" class="avatar">
      <: if ( !user.avatar_pic || 0 === user.avatar_pic.length ) { :>
        <img class="avatar" src="{% static "nopic.jpg" %}" />
      <: } else { :>
        <img class="avatar" src="/photos/<:= user.id :>/thumb/<:= user.avatar_pic :>" />
      <: } :>
      <: if ( user.user_type == 'bot' ) { :>
	      <img class="status_icon" src="{% static "robot_badge.png" %}" />
      <: } :>
    </a>
    <div><:= user.login :> (<:= user.rank :>)
      <: if(currentUser != 'guest' && parseInt(user.id) != currentUser.id && user.available && !blocked && !blocker) { :>
      <br/>
          <a href="/match/propose?challenged_player_id=<:= user.id :>&room_id=<:= room.room_id :>" data-id="<:= user.id :>">Propose game.</a>
      </div>
    <: } :>
  </li>
]]>
</script>

<div class="layout">
  <div id="notifications"></div>
  <div class="online_players main_box" style="float: left;">
    <h2 class="main_category">Players</h2>
    <ul id="member_list"></ul>
  </div>

  <div style="width: 362px; margin: 0; float: left">
    <h2>Welcome</h2>
    {% if not user.is_authenticated %}
    <p style="margin:25px;font-style:italic;">
      As a guest, you can view other games in progress, but cannot start your own games.  <a href="/login" class="login">Login</a> to play with other people.
    </p>
    {% endif %}
    <div class="room_chat" id="chat_output"></div>
    {% if user.is_authenticated %}
    <input type="text" id="room_chat_input" placeholder="Type here to chat..." class="room_chat_input" onkeydown="if(event.keyCode == 13) {room.sendChatMsg();}" name="chat_input" />
    {% endif %}
  </div>
  
  <div class="recent_games main_box">
    <h2 class="main_category">Games</h2>
    <ul id="room_game_list" class="game_list">
      {% for game in games %}
      {% if game.state == "finished" %}
      <ul class="game_summary finished" id="game_{{ game.token }}">
      {% else %}
      <ul class="game_summary inplay" id="game_{{ game.token }}">
      {% endif %}
        <div class="game_summary_left">
          <a href="/g/{{ game.token }}" target="_blank">
	    <div class="white_player {% if game.result.0 == 'W' %}winner{% endif %}">{{ game.white_player.login }} ({{ game.white_player.rank }})</div>
	    <div class="black_player {% if game.result.0 == 'B' %}winner{% endif %}">{{ game.black_player.login }} ({{ game.black_player.rank }})</div>
          </a>
        </div>

        <div class="game_summary_right">
          {% if game.state == "finished" %}
          <div class="result">{{ game.result }}</div>
          {% else %}
          <div class="result">In-Play</div>
          {% endif %}
          <div class="board_size">{{ game.board.size }}x{{ game.board.size }}</div>
        </div>
      </ul>
      {% endfor %}
    </ul>
  </div>
</div>

<div style="display: none" id="board"></div>

{% endblock %}
