{% extends "base.html" %}
{% load static %}
{% block content %}
<center>
  <object width="500" height="405">
    <param name="movie" value="http://www.youtube.com/v/gECcsSeRcNo&hl=en_US&fs=1&color1=0xf3cb64&color2=0xb89426&border=1"></param>
    <param name="allowFullScreen" value="true"></param>
    <param name="allowscriptaccess" value="always"></param>
    <embed src="http://www.youtube.com/v/gECcsSeRcNo&hl=en_US&fs=1&color1=0xf3cb64&color2=0xb89426&border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="500" height="405"></embed>
  </object>
</center>
{% endblock %}
