{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="account_edit_page rounded_shoji">
  <div class="edit_account_left">
    <h2>Edit Your Account Settings</h2>

    {% if errors %}
    <div class="error_messages">
      <p>Please correct the following errors and try again:</p>
      <ul>
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

    <form accept-charset="UTF-8" action="/users/{{ target_user.id }}" class="edit_user"
          enctype="multipart/form-data" id="edit_user_{{ target_user.id }}" method="post">
      <div style="margin:0;padding:0;display:inline">
        {% csrf_token %}
      </div>
      <table class="profile_edit">
        {% for field in form.visible_fields %}
        <tr class="profile_item">
          <th>{{ field.label_tag }}</th>
          <td>{{ field }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td class="submit_profile" colspan="2"><input name="commit" type="submit" value="Apply" /></td>
        </tr>
      </table>
    </form>
  </div>
  <div class="edit_account_right">
    <div class="name">
      <a href="/players/{{ target_user.login }}" class="avatar">
        {% if target_user.avatar_pic %}
        <img alt="Kairi.kingdom" src="/photos/{{ target_user.id }}/thumb/{{ target_user.avatar_pic }}" />
        {% else %}
        <img alt="Nopic" src="{% static "/nopic.jpg" %}" />
        {% endif %}
      </a>
      <a title="{{ target_user.login }}" rel="contact" class="url" href="/users/{{ target_user.id }}">
        <p class="user_name">{{ target_user.login }}</p>
      </a>
      <div style="clear:both"></div>
    </div>
    <p><strong>Add another service to sign in with:</strong></p>

    <a href="/auth/twitter" class="auth_provider">
      <img alt="Twitter" height="64" src="{% static "twitter_64.png" %}" width="64" />
      Twitter
    </a>
    <a href="/auth/facebook" class="auth_provider">
      <img alt="Facebook" height="64" src="{% static "facebook_64.png" %}" width="64" />
      Facebook
    </a>
    <div style="clear:both"></div>
  </div>
  <div style="clear:both"></div>
</div>
{% endblock %}
