{% extends "base.html" %}
{% load static %}
{% load mathfilters %}
{% block content %}
<h2>Players</h2>
<ul class="rounded_shoji userlist">
  {% for user in users %}
    <li data-player-id="{{ user.id }}">
      <div class="rank">{{ user.rank }}</div>
      <a href="players/{{ user.login }}" class="avatar">
        {% if user.avatar_pic %}
        <img src="/photos/{{ user.id }}/thumb/{{ user.avatar_pic }}" />
        {% else %}
        <img alt="Nopic" src="{% static "/nopic.jpg" %}" />
        {% endif %}
      </a>
      <div class="signup_date">
        Member since {{ user.created_at|date:"Y-m-d" }}
      </div>
      <div class="username">
        <a href="players/{{ user.login }}">{{ user.login }}</a>
      </div>
      <div class="url">
        <a href="{{ user.url }}">{{ user.url }}</a>
      </div>
      <div class="bio">
        {{ user.bio }}
      </div>
      <div style="clear:both"></div>
    </li>
  {% endfor %}
</ul>

<div class="pagination">
  {% if users.has_previous %}
  <a class="previous_page" rel="prev" href="/players?page={{ users.previous_page_number }}">&#8592; Previous</a>
  {% else %}
  <span class="previous_page disabled">&#8592; Previous</span>
  {% endif %}

  {% for p in users.paginator.page_range %}
    {% if forloop.counter == users.number %}
    <em class="current">{{ users.number }}</em>
    {% elif forloop.counter < users.number and forloop.counter >= users.number|sub:span_before %}
    <a href="/players?page={{ forloop.counter }}">{{ forloop.counter }}</a>
    {% elif forloop.counter > users.number and forloop.counter <= users.number|add:span_after %}
    <a href="/players?page={{ forloop.counter }}">{{ forloop.counter }}</a>
    {% elif forloop.counter <= span_start %}
    <a href="/players?page={{ forloop.counter }}">{{ forloop.counter }}</a>
      {% if forloop.counter == span_start and users.number > span_start|add:span_before|add:1 %}
      <span class="gap">&hellip;</span>
      {% endif %}
    {% elif forloop.counter > users.paginator.num_pages|sub:span_end %}
      {% if forloop.counter == users.paginator.num_pages|sub:span_after|add:1 %}
      {% if users.number < users.paginator.num_pages|sub:span_end|sub:span_after %}
      <span class="gap">&hellip;</span>
      {% endif %}
      {% endif %}
    <a href="/players?page={{ forloop.counter }}">{{ forloop.counter }}</a>
    {% endif %}
  {% endfor %}

  {% if users.has_next %}
  <a class="next_page" rel="next" href="/players?page={{ users.next_page_number }}">Next &#8594;</a>
  {% else %}
  <span class="next_page disabled">Next &#8594;</span>
  {% endif %}
</div>
Displaying User <b>{{ users.start_index }}&nbsp;-&nbsp;{{ users.end_index }}</b> of <b>{{ users.count }}</b> in total

{% endblock %}
