{% extends "base.html" %}

{% block content %}
    <h2>Players</h2>
<ul class="rounded_shoji userlist">
    <li data-player-id="6959">
      <div class="rank">
        ?
      </div>
      <a href="http://goshrine.com/players/Welvang" class="avatar"><img alt="Warsow" src="/photos/6959/thumb/Warsow.png" /></a>
      <div class="signup_date">
        Member since 2011-07-07
      </div>
        <div class="username">
          <a href="http://goshrine.com/players/Welvang">Welvang</a>
        </div>
          <div class="url">
            
          </div>
        <div class="bio">
          Tout le monde ne sait-il point qu&#x27;une lame nue séparant deux corps est garante et gardienne de chasteté ?
        </div>
        <div style="clear:both"></div>
    </li>
</ul>

<div class="pagination"><span class="previous_page disabled">&#8592; Previous</span> <em class="current">1</em> <a rel="next" href="/players?page=2">2</a> <a href="/players?page=3">3</a> <a href="/players?page=4">4</a> <a href="/players?page=5">5</a> <a href="/players?page=6">6</a> <a href="/players?page=7">7</a> <a href="/players?page=8">8</a> <a href="/players?page=9">9</a> <span class="gap">&hellip;</span> <a href="/players?page=370">370</a> <a href="/players?page=371">371</a> <a class="next_page" rel="next" href="/players?page=2">Next &#8594;</a></div>
Displaying User <b>1&nbsp;-&nbsp;50</b> of <b>18501</b> in total
{% endblock %}
