{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="rounded_shoji" style="width: 600px; margin: 20px auto">
  <div class="login_dialog_content">
    <h2>Log in</h2>
    <div class="login_column_left">
      <h3>with one of these services</h3>
      <div class="social_signin">
        <a id="signin_twitter" title="Sign in with Twitter" href="/auth/twitter">
          <img alt="Sign in with Twitter" src="{% static "twitter_64.png" %}" />
        </a>
        <a id="signin_facebook" title="Sign in with Facebook" href="/auth/facebook">
          <img alt="Sign in with Facebook" src="{% static "facebook_64.png" %}" />
        </a>
        <br />
        If you use any of these services, signup is fast and easy!<br />
        Just click the icon above, and follow the prompts.
      </div>
    </div>

    <div class="login_column_right">
      <span class="login_choice">&mdash; or &mdash;</span>    
      <h3>with your account</h3>
  
      <form accept-charset="UTF-8" action="/users/sign_in" class="new_user" id="new_user" method="post">
        <div style="margin:0;padding:0;display:inline">
          {% csrf_token %}
        </div>

        {% for field in form.visible_fields %}
        <p>{{ field.label_tag}}<br />
        {{ field }}</p>

	{% endfor %}
        <p><input name="commit" type="submit" value="Log in" />
        <a href="/users/password/new" class="forgot_password_link">Forgot password?</a></p>
      
        <p class="new_account">
          Don't have one?<br/>  <a href="/users/sign_up">Create a new account</a><br />
        </p>
      </form>
    </div>
    <div class="clear-fix"></div>
  </div>
</div>
{% endblock %}
