<div id="footer">
  <hr />  
  <div class="footer-links">
    <a href="mailto:feedback@goshrine.com">Feedback</a> • 
    <a href="http://goshrine.com/about">About</a>
  </div>

  <div class="gplus_share">
    <g:plusone size="medium" href="http://goshrine.com"></g:plusone>
  </div>
  <div class="fb_share">
    <div id="fb-root"></div>
		<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '121282234626046', // App ID
		      channelUrl : "http://goshrine.com//fb_channel.html", // Channel File
		      status     : true, // check login status
		      cookie     : true, // enable cookies to allow the server to access the session
		      xfbml      : true  // parse XFBML
		    });

		    // Additional initialization code here
		  };

		  // Load the SDK Asynchronously
		  (function(d){
		     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
		     js = d.createElement('script'); js.id = id; js.async = true;
		     js.src = "//connect.facebook.net/en_US/all.js";
		     d.getElementsByTagName('head')[0].appendChild(js);
		   }(document));
		</script>
    <fb:like href="http://goshrine.com" send="false" layout="button_count" width="40" show_faces="false" font=""></fb:like>
  </div>
  <div style="clear: both">
</div>
<div id="sm2-container"></div>

<script type="text/javascript">
 var _gaq = _gaq || [];
 _gaq.push(['_setCustomVar', 1, 'User Type', 'Visitor', 2]);
 _gaq.push(['_setAccount', 'UA-7795367-1']);
 _gaq.push(['_trackPageview']);
 _gaq.push(['_setSiteSpeedSampleRate', 5]);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
</script>

<div id="chimeSound"></div>
<div id="clickSound"></div>
</div>
