{% load static %}
  <div id="connection_fail">Trying to reach goshrine.com...</div>

  <div class="header">
    <a href="/home" class="main_logo"><img alt="Torii_small" border="0" src="{% static "/torii_small.png" %}" /></a>
    <div class="nav">
      <div class="nav_left">
        <ul class="main_links">
          <li><a href="/home">Home</a></li>
          <li><a href="/about">Help</a></li>
          <li class="omega"><a href="/players">Players</a></li>
        </ul>
      </div>
      <div class="nav_right">
          <a href="/login" class="login">Login</a>
      </div>
    </div>
  </div>
